<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Salon</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
<main>
    <%- include('partials/navbar.ejs'); %>
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h2 class="text-center mb-3"> Promena frizure </h2>
                <%- include('partials/messages.ejs'); %>
                <form action="/frizeri/<%=profil_id%>/frizura/<%=frizura.id %>/edit" method="POST">
                    <div class="form-group">
                        <label for="naziv">Naziv</label>
                        <input type="text" id="naziv" name="naziv" value="<%=frizura.naziv %>" class="form-control" placeholder="Unesi naziv frizure"/>
                    </div>
                    <div class="form-group">
                        <label for="image">URL slike</label>
                        <input type="text" id="image" name="image" value="<%=frizura.image %>" class="form-control" placeholder="Unesi URL slike"/>
                    </div>
                    <button type="submit" class="btn btn-danger btn-block">Potvrdi</button>
                </form>
                <br>
                    <a style="color: rgb(190, 28, 28);" href="/frizeri/<%=profil_id%>">Vrati se nazad</a>
            </div>
        </div>
    </div>
</main>
    <%- include ('partials/footer.ejs'); %>